/* 全体 */
*:focus {
	outline: none;
}
* {
	font-size: 10px;
}
button, label {
  -webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
	   -moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
			user-select: none; /* Non-prefixed version, currently
								  supported by Chrome and Opera */
}
body {
	margin: 0px;
	padding: 0px;
}
/* 最初  */
section#player {
	display: none;
}
table#lists {
	display: none;
}
/* プレイリスト  */
ol#play_list{
	display: inline-block;
	list-style-position: none;
}
ol#play_list li {
	padding: 5px;
	cursor: pointer;
}
/* シークバー  */
input#seek {
	width:  410px;
}
/* キーボードショートカット */
div#shadow {
	position: absolute;
	z-index: 2147483646;
	background-color: rgba(0, 0, 0, 0.4);
}
/* ファイル詳細 */
img#album_art{
	margin: 10px;
	border: 1px solid #000;
	height:  300px;
}
td#detail {
	width: 330px;
}
div#dialog{
	/* 中央よせ */
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
	/* original */
	font-size: 15px;
	padding: 10px;
	/* dialog */
	background-color: #fff;
	border-radius: 0.6rem;
	box-shadow: 0 0 1em black;
	border: 1px solid #fff;
	z-index: 2147483647;
}
div#dialog h3 {
	border-bottom: 1px solid #BFBFBF;
}