/* 全体 */
* {
	font-size: 10px;
}
/* 消す */
*:focus {
	outline: none;
}
button, label, br {
  -webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
	   -moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
			user-select: none; /* Non-prefixed version, currently
								  supported by Chrome and Opera */
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance:textfield;
}
/* カーソル */
span {
	cursor: default;
}
input[type="checkbox"], button, label {
	cursor: pointer;
}
input[type="range"] {
	cursor: ew-resize;
	margin-left: 10px;
}
button#start {
	cursor: not-allowed;
}
/* その他 */
input[type="checkbox"] {
	margin-right: 0;
}
input[type="number"] {
	text-align: center;
	background-color: #FFF;
	border: none;
	border-bottom: 1px solid #FFF;
	width: 20px;
	transform-origin: 0% 50%;
	transition: 0.2s;
}
input[type="number"]:focus {
	border-bottom: 1px solid #E5E5E5;
}
body {
	margin: 0px;
	padding: 0px;
	padding-left: 10px;
}

/* 最初  */
section#player {
	display: none;
}
table#lists {
	display: none;
}
/* プレイリスト  */
ol#play_list{
	display: inline-block;
	list-style-position: none;
}
ol#play_list li {
	margin: 2px 0px;
	padding: 5px;
	cursor: pointer;
}
/* シークバー  */
input.seek.range {
	width: 440px;
}
/* トラック  */
input#list_num {
	width: 40px;
}
/* ファイル詳細 */
img#album_art{
	margin: 10px;
	border: 1px solid #000;
	height:  300px;
}
td#detail {
	width: 330px;
}
/* キーボードショートカット */
div#shadow {
	display: none;
	position: fixed;
	z-index: 2147483646;
	background-color: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
}
div#dialog{
	display: none;
	/* 中央よせ */
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
	/* original */
	font-size: 15px;
	padding: 10px;
	/* dialog */
	background-color: #fff;
	border-radius: 0.6rem;
	box-shadow: 0 0 1em black;
	border: 1px solid #fff;
	z-index: 2147483647;
}
div#dialog h3 {
	border-bottom: 1px solid #BFBFBF;
}