/* 全体 */
* {
	font-size: 10px;
}
/* 消す */
*:focus {
	outline: none;
}
button, label, br, img {
  -webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
	   -moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
			user-select: none; /* Non-prefixed version, currently
								  supported by Chrome and Opera */
	-webkit-user-drag:none;
	-khtml-user-drag:none;
	user-drag: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance:textfield;
}
/* カーソル */
span {
	cursor: default;
}
input[type="range"] {
	cursor: ew-resize;
	margin-left: 10px;
}
/* 装飾  */
body {
	margin: 0px;
	padding: 0px;
}
input[type="number"], input[type="text"]{
	text-align: center;
	background-color: #FFF;
	border: none;
	border-bottom: 1px solid #E6E6E6;
	width: 20px;
	transform-origin: 0% 50%;
	transition: 0.2s;
}
input[type="number"]:focus, input[type="text"]:focus {
	border-bottom: 1px solid #B3B3B3;
}
select {
	border: none;
	border-bottom: 1px solid #E6E6E6;
}
button {
	margin: auto 1px;
	padding: 2px 7px;
	border: 1px solid #E6E6E6;
	background-color: #EFEFEF;
	width: 35px;
	height: 25px;
}
button.btn_on {
	background-color: #CCCCCC;
}
img {
	height: 300px;
}

/* 最初(display: none集団) */
section#player {
	display: none;
}
table#lists {
	display: none;
}
button#start {
	cursor: not-allowed;
	display: none;
}
/* 微調整  */
button#shuffle, button#loop, button#shuffle_btn {
	padding: 4px 5px 7px;
}
input#play_data {
	margin: 4px 0px;
}
/* 秒スキップ */
button.time.next {
	margin-right: 98px;
}
/* シークバー  */
input.seek.range {
	width: 600px; /* ボタン1個: 40pxくらい */
}
/* ファイル詳細 */
div#switch {
	margin: 10px;
	border: 1px solid #000;
	height: 300px;
	width: 300px;
	cursor: pointer;
}
/* リップシンク */
img.face {
	position: absolute;
}
img#mouse {
	position: absolute;
	z-index: 1;
}
td#detail {
	width: 330px;
}
/* トラック  */
input#list_track {
	width: 40px;
}
input#search {
	width: 100px;
}
/* プレイリスト  */
ol#play_list {
	display: inline-block;
	list-style-position: none;
	overflow: auto;
}
ol#play_list li {
	margin-top: 2px;
	margin-right: 15px;
	padding: 5px;
	border: 1px dotted #000;
	cursor: pointer;
}

div#lyrics_div {
	overflow: auto;
}

div#drag_drop {
	position: fixed;
	z-index: -1;
	background-color: rgba(255, 255, 255, 0);
	width: 100%;
	height: 100%;
}

/* キーボードショートカット */
div#shadow {
	display: none;
	position: fixed;
	z-index: 2147483646;
	background-color: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
}
div#dialog {
	display: none;
	/* 中央よせ */
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
	/* original */
	font-size: 15px;
	padding: 10px;
	/* dialog */
	background-color: #fff;
	border-radius: 0.6rem;
	box-shadow: 0 0 1em black;
	border: 1px solid #fff;
	z-index: 2147483647;
}
div#dialog h3 {
	border-bottom: 1px solid #BFBFBF;
}